* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.top {
  width: 70%;
  margin: 0 auto;
}
img {
  margin: 0 auto;
  display: block;
}
body {
  background-color: #badc58;
  /* background-image: url("LOGO.jpg");
  background-repeat: no-repeat;
  background-position: center; */
}
p {
  text-align: center;
  margin: 20px 0;
}
h1 {
  text-align: center;
  margin: 20px 0;
}
form {
  text-align: center;
}
button {
  padding: 10px;
  background-color: #ff3f34;
  outline: 0;
  color: white;
  margin: 10px 10px;
}
input {
  margin-bottom: 20px;
  padding: 10px 10px;
}
p {
  font-size: 20px;
}
